* {
  margin: 0;
  padding: 0;
  font-family: "Almarai", sans-serif;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

/* Social round */
#social {
  margin: 20px 10px;
  text-align: center;
}

/* global button class */
.smGlobalBtn {
  text-decoration: none;
  transform: translateZ(0);
  font-family: "Almarai", sans-serif;
  font-size: 1.5rem;
  padding: 0.7rem;
  color: #1f2b3d;
  display: inline-block;
  transition: ease-in-out 0.3s;
  cursor: pointer;
  width: 50px;
  height: 50px;
  border: 2px solid #ddd;
  box-shadow: 0 3px 3px #999;
  border-radius: 27px;
  -moz-border-radius: 27px;
  -webkit-border-radius: 27px;
}

/* Social round */
#dorar {
  padding: 5px;
  text-align: right;
  width: fit-content;
  height: fit-content;
}

.hadith {
  text-align: right;
}

.hadith-info {
  text-align: right;
}

.search-keys {
  color: red;
}

.info-subtitle {
  color: rgb(155, 35, 61);
  text-decoration: underline;
}

.inner-width {
  max-width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 14px 20px;
  margin: auto;
}

/* nav menu */
*,
*::after,
*::before {
  box-sizing: border-box;
}

main {
  position: relative;
  z-index: 1;
  height: 100vh;
  overflow: auto;
  box-shadow: 0 0 50px #fff;
  transition: transform 0.5s;
  direction: rtl;
}

.nav-open main {
  transform: scale(0.8);
}

.intro {
  height: 100vh;
  width: 100%;
  display: table;
  background-size: cover;
}

.nav-trigger {
  cursor: pointer;
  position: fixed;
  z-index: 4;
  top: 40px;
  right: 40px;
  height: 44px;
  width: 44px;
  overflow: hidden;
  color: transparent;
  white-space: nowrap;
  text-indent: 100%;
}

.nav-trigger span,
.nav-trigger span::before,
.nav-trigger span::after {
  position: absolute;
  height: 4px;
  width: 36px;
  background: #4d4a4a;
}

.nav-trigger span {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: background 0.3s;
}

.nav-trigger span::before,
.nav-trigger span::after {
  content: "";
  top: 0;
  left: 0;
  transition: background 0.3s, transform 0.3s;
}

.nav-trigger span::before {
  transform: translateY(-12px);
}

.nav-trigger span::after {
  transform: translateY(12px);
}

.nav-trigger:hover span,
.nav-trigger:hover span::before,
.nav-trigger:hover span::after {
  background: rgb(189, 187, 187);
}

.nav-open .nav-trigger span {
  background: transparent;
}

.nav-open .nav-trigger span::before,
.nav-open .nav-trigger span::after {
  background: #1f2b3d;
}

.nav-open .nav-trigger span::before {
  transform: rotate(-45deg);
}

.nav-open .nav-trigger span::after {
  transform: rotate(45deg);
}

.overlay {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #1c1d21;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s, visibility 0.5s;
}

.nav-open .overlay {
  opacity: 0.6;
  visibility: visible;
}

.nav-container {
  position: fixed;
  z-index: 3;
  top: 0;
  right: 0;
  height: 100%;
  width: 90%;
  max-width: 350px;
  padding: 2em 3.5em;
  background: #f3f3f3;
  overflow: auto;
  transform: translateZ(0);
  transform: translateX(100%);
  transition: transform 0.5s cubic-bezier(0.07, 0.23, 0.34, 1);
  white-space: nowrap;
}

.nav-open .nav-container {
  transform: translateX(0);
}

.nav-container h2 {
  font-size: 1.2rem;
  font-weight: bold;
  color: #aaa;
  margin: 2em 0;
}

.nav {
  list-style: none;
  padding: 0;
}

.nav-link {
  padding: 0.4em 0;
  font-weight: bold;
  text-decoration: none;
  color: #1f2b3d;
  transform: translateZ(0);
  font-size: 2rem;
  font-family: "Almarai", sans-serif;
  display: inline-block;
  transition: ease-in-out 0.3s;
}

.nav a:hover {
  transform: scale(1.1);
}

@media screen and (min-width: 1200px) {
  .nav a {
    font-size: 1.5rem;
  }
}

.nav-open .nav a {
  animation: slide-in 0.4s 0.2s backwards;
}

.nav-open .nav li:nth-of-type(2) a {
  animation-delay: 0.3s;
}

.nav-open .nav li:nth-of-type(3) a {
  animation-delay: 0.4s;
}

.nav-open .nav li:nth-of-type(4) a {
  animation-delay: 0.5s;
}

.nav-open .nav li:nth-of-type(5) a {
  animation-delay: 0.6s;
}

@keyframes slide-in {
  0% {
    opacity: 0;
    transform: translateX(80px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

/* nav menu */
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #aaa;
  color: white;
  text-align: center;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 20px;
}

.flex img {
  width: 180px;
  height: 80px;
}

.header {
  margin-top: 50px;
}

.header h1 {
  text-align: center;
  font-size: 4rem;
  margin: 10px;
  padding: 10px;
}

.header h6 {
  text-align: center;
  font-size: 1.2rem;
  margin: 5px;
  padding: 5px;
}

@media only screen and (max-width: 600px) {
  .header h1 {
    font-size: 2.5rem;
  }

  .header h6 {
    font-size: 1rem;
  }
}

.main {
  margin: 0;
}

.main h1 {
  text-align: center;
  font-size: 4rem;
  margin: 10px;
  padding: 10px;
}

.main h6 {
  text-align: center;
  font-size: 1.5rem;
  margin: 5px;
  padding: 5px;
}

.main p {
  text-align: center;
  font-size: 1.2rem;
  margin: 5px;
  padding: 20px;
}

@media only screen and (max-width: 600px) {
  .main h1 {
    font-size: 2.5rem;
  }

  .main h6 {
    font-size: 1.5rem;
  }

  .main p {
    font-size: 1.2rem;
  }
}

.search {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #38464b;
  border-radius: 10px;
  width: 100%;
  max-width: 600px;
  height: 40px;
  margin: 10px;
  position: relative;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 2px;
}

.search input {
  border: none;
  outline: none;
  width: 100%;
  height: 100%;
  font-size: 1.2rem;
}

.search input::placeholder {
  padding-right: 10px;
}

.search button {
  position: absolute;
  cursor: pointer;
  border: none;
  left: 0;
  font-size: 2rem;
  font-weight: bold;
  background-color: #ffff;
  height: 100%;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}