#skey {
    box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
    border: 1px solid #413f3e;
    border-radius: 10px;
    text-align: right;
    padding: 5px;
}

#skey:hover {
    border: none;

}


#bsearch {
    cursor: pointer;
    border-radius: 5px;
}


#dorar {
    padding: 5px;
    text-align: right !important;
}

.hadith {
    text-align: right !important;

}

.hadith {
    text-align: right !important;

}

.hadith-info {
    text-align: right !important;
}

.search-keys {
    color: red;
}

.info-subtitle {
    color: rgb(155, 35, 61);
    text-decoration: underline;
}

h1 {
    font-family: 'Almarai', sans-serif;
    font-size: 30px;
    font-size: 7vw;
}

h3 {
    font-size: 14px;
    font-family: 'Almarai', sans-serif;
    padding: 5px;
}